body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color:#fffcf2;
}

.main-content {
	background-color: white;
}

@media (min-width : 768px) {
	.main-content {
		border-radius: 3px;
		box-shadow: 0px 0px 3px gray;
		margin: 50px;
	}
}

.page-title {
	font-size: 32px;
	border-bottom: 3px solid;
	margin: 15px;
	padding: 0;
	border-color: #786B3D;
}

.content-table {
	width: 100%;
	margin-bottom: 20px;
}

.content-table > tbody > tr > th {
	color: #ECE9E4;
	background-color: #908149;
	border-bottom: 1px solid #CCC;
	padding: 8px;
}

.content-table > tbody > tr > td {
	border-bottom: 1px solid #CCC;
	padding: 8px;
}

th, td {
	display: table-cell;
}

a {
	color: #908149;
	text-decoration: none;
}

.return {
	padding: 5px;
	margin-top: 10px;
}