body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color:#fffcf2;
}

.header-color {
	background-color: #786B3D;
	height: 300px;
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: -1;
}

.floatright {
	float: right;
	border-radius: 3px;
	box-shadow: 0px 0px 3px gray;
	margin-right: 2px;
	margin-bottom: 15px;
	margin-left: 10px;
	padding: 10px 10px 10px 10px;
}

.floatright > p {
	margin-bottom: 0px;
}

.optional {
	background-color: #fffcf2;
	padding: 10px 15px 10px 15px;
	box-shadow: 0px 0px 3px gray;
	border-radius: 3px;
	margin-bottom: 10px;
}

.optional > h6 {
	font-style: italic;
	font-weight: bold;
	margin-bottom: 5px;
}

.testing {
	margin-bottom: 0px;
}

.optional > p {
	margin-bottom: 0px;
}

.sub_toc {
	margin-left: 20px;
}

.header-text{
	padding: 25px 25px 0px 25px;
}

.header-text h1 {
	color: #fffcf2;
	padding-bottom: 10px;
}

.header-text h3 a {
	color: #fffcf2;
	font-size: 20px;
	text-decoration: none;
}

.main-content {
	background-color: white;
	padding: 10px 25px 10px 25px;
}

@media (min-width : 768px) {
	.main-content {
		border-radius: 3px;
		box-shadow: 0px 0px 3px gray;
		margin: 0px 50px 50px 50px;
		padding: 10px 15px 10px 15px;
	}
}

.icon-big {
	font-size: 10em !important;
}

.page-title {
	font-size: 32px;
	border-bottom: 3px solid;
	margin-bottom: 15px;
	padding: 0;
	border-color: #786B3D;
}

.content-table {
	width: 100%;
	margin-bottom: 20px;
}

.content-table > tbody > tr > th {
	color: #ECE9E4;
	background-color: #908149;
	border-bottom: 1px solid #CCC;
	padding: 8px;
}

.content-table > tbody > tr > td {
	border-bottom: 1px solid #CCC;
	padding: 8px;
}

th, td {
	display: table-cell;
}

.table-desc {
	font-style: italic;
}

.main-content a {
	color: #908149;
	text-decoration: none;
}

.main-content button {
	color: #908149;
	text-decoration: none;
}

.spell {
	display: none;
}

.show {
	display: table-row;
}

.btn {
	border: none;
	outline: none;
	cursor: pointer;
	color: #908149;
}